@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&family=Poppins:wght@400;500;700&display=swap');

/* root */
:root {
  --blue1: #1754DE;
  --blue2: #4345E7;
  --white: #fff;
  --white2: #E9EFFB;
  --black1: #111;
  --black2: #676767;

  /* font size */
  --big-font-size: 2.4rem;
  --h1-font-size: 2rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.25rem;
  --h4-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .7rem;
}

* {
  font-family: "Nunito", Sans-Serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-weight: 500;
  text-decoration: none;
  list-style: none;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  min-height: 5000px;
}
section {
  min-height: 500px;
}

/* header */
#header.active {
  box-shadow: 0 2px 1px rgba(0,0,0,.15);
  background: #fff;
}
.my-logo-brand h4 {
  font-size: var(--h3-font-size);
  font-weight: 800;
  padding: 0;
  margin: 0;
  color: var(--blue1);
}
.my-nav ul li a {
  font-family: "Poppins";
  font-size: var(--normal-font-size);
  color: var(--black2);
  font-weight: 400;
  margin: 0 .45rem;
  text-decoration: none;
}
.my-nav ul li:nth-child(5) a {
  margin-right: 0!important;
}
.my-nav ul li a:hover {
  color: var(--blue2);
  transition: .75s;
}
#header .menu-toggle {
  display: none;
}

/* home section */
.home-info h5 {
  font-size: var(--small-font-size);
  margin-bottom: 0;
  color: var(--black1);
  letter-spacing: 3.5px;
  font-weight: 500;
}
.home-info h2 {
  font-size: var(--big-font-size);
  font-weight: 900;
  color: var(--blue1);
  letter-spacing: 1.5px;
  margin-bottom: .75rem;
}
.home-info p {
  font-size: var(--smaller-font-size);
  font-family: "Poppins";
  font-weight: 300;
  color: var(--black2);
  line-height: 1.3;
}
.home-info a.btn-home {
  width: 50%;
  font-size: var(--normal-font-size);
  border: 2px solid var(--blue1);
  color: var(--blue1);
  outline: none;
  padding: .2rem 0;
  text-decoration: none;
  transition: .5s;
  text-align: center;
}
.home-info a.btn-home:hover {
  background: var(--blue1);
  color: #fff;
}
.home-info a span {
  font-weight: 600;
}
#home .home-img img {
  width: 100%;
  height: 100%;
}

/* produk section */
section#produk {
  background: var(--white2);
}
#produk #produk-title h2 {
  font-size: var(--h2-font-size);
  color: var(--black1);
  font-family: "Poppins";
  font-weight: 600;
  position: relative;
  padding-left: .8rem;
}
#produk #produk-title h2::before {
  content: "";
  position: absolute;
  background: var(--blue1);
  width: 5px;
  height: 100%;
  left: 0;
  bottom: 0;
}
#produk #produk-title a {
  text-decoration: none;
  color: var(--black2);
  font-family: "Nunito";
  font-weight: 700;
  font-size: var(--small-font-size);
}
#produk #produk-title a:hover {
  color: var(--blue1);
}
#produk .card small {
  font-size: var(--smaller-font-size);
  color: var(--blue1);
  
  font-weight: 600;
}
#produk .card h5 {
  color: var(--black1);
  font-size: var(--h3-font-size);
  font-weight: 800;
}
#produk .card p {
  font-size: var(--h4-font-size);
  font-family: "Poppins";
  font-weight: 500;
}
#produk .card .alert b.alert-heading {
  font-size: var(--small-font-size);
}
#produk .card b.info-habis{
  font-size: var(--small-font-size);
}
#produk .card .my-btn-beli {
  background: var(--blue2);
  outline: none;
  color: var(--white);
  font-family: "Poppins";
  font-size: var(--small-font-size);
  text-decoration: none;
}



/* mobile version */
@media (max-width: 768px) {
  :root {
    /* font size */
    --big-font-size: 2.85rem;
    --h1-font-size: 2.1rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --h4-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .7rem;
  }
  /* header */
  #header {
    padding: 0 .75rem;
  }
  #header navbar.my-nav.active {
    transform: translate(0, 0);
  }
  #header navbar.my-nav {
    display: block;
    position: fixed;
    z-index: 9999;
    background: var(--black1);
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 70%;
    transition: .75s;
    transform: translate(-100%, 0);
  }
  .my-nav ul {
    flex-direction: column;
    width: 100%;
  }
  .my-nav ul li:nth-child(1) {
    margin-top: 3rem;
  }
  .my-nav ul li {
    display: block;
  }
  .my-nav ul li a {
    color: #fff;
    margin: .7rem 0;
    padding: .85rem 2rem;
    display: block;
    width: 100%;
  }
  .my-nav ul li a:hover {
    margin-left: .65rem;
  }
  #header .menu-toggle {
    display: block;
    background: #ddd;
    margin-right: .25rem;
    padding: 5px 9px .8px;
  }
  .menu-toggle i {
    font-size: var(--h4-font-size);
    transition: .5s;
  }
  
  /* home section */
  #home {
    min-height: 100vh;
  }
  #home .home-img {
    margin-top: px;
  }
  .home-info h5 {
    margin-top: 1.5rem;
  }
  .home-info a.btn-home {
    width: 45%;
    padding: .4rem 0;
  }
  .home-info p {
    padding-right: 3rem;
  }
}